@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: var(--cor0);
    font-family: var(--font1)
}

:root{
    --cor0:#8caa8b;
    --cor1:#27CA22;
    --cor2:#39A035;
    --cor3:#3D753B;
    --cor4:#334B32;
    --cor5:#2B332B;
    --font1:Arial, Helvetica, sans-serif;
    
}

header{
    color: white;
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor4));
    padding-bottom: 20px;
    text-align: center;
    font-variant: small-caps;
}
    

nav{
    color: white;
    background-color: var(--cor4);
    padding-bottom: 15px;
    box-shadow: -1px 3px 3px 0px #000000b5;
    font-family: sans-serif;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
}

nav abbr{
    text-decoration: none;
}

main{
    background-color: white;
    min-width: 270px;
    max-width: 1050px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 3px 7px 2px #00000052;
}
main section h2{
    padding: 15px 0px;
    text-align: center;
    font-variant: small-caps;
}

main p{
    padding: 0px 20px;
    line-height: 2em;
    text-indent: 30px;
    text-align: center;
}

main p.ajuste{
    padding-bottom: 40px;
}

section >ul{
    list-style-position: inside;
    list-style-type: '\1F449\00A0';
    text-align: center;
}

section a{
    color: var(--cor4);
    font-weight: bolder;
    text-decoration: none;
    font-size: 17px;
}
section a:hover{
    text-decoration: underline;
}

blockquote{
    background-image: linear-gradient(to right,var(--cor0),transparent);
    margin: 0px 170px;
}


footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.603);
    background-color: var(--cor4);
    padding: 10px;

}

footer a {
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;   
}

footer a:hover{
    text-decoration: underline;
    font-weight: bolder;
}